.productdetail {
  margin-top: 40px;
  .product-box {
    display: flex;
    align-items: center;
    gap: 40px;

    .imgg-container {
      margin-top: -50px;
      max-width: 360px;
      min-width: 200px;
      max-height: 300px;
      min-height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width:100%;
        height: 100%;
        object-fit: contain;
        transform: scale(0.9);
      }
    }

    .content-part {
      margin-top: 20px;
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .cart-options {
        .quantity-selector {
          border: 1px solid var(--secondary-text-color);
          width: fit-content;

          .btn {
            padding: 8px 16px;
            background-color: #eee;
            color: var(--primary-text-color);
            display: inline-block;
            cursor: pointer;
            font-size: 1.2rem;
            user-select: none;
            &:hover {
              background-color: #ddd;
            }
            &:active {
              background-color: #eee;
            }
          }

          .quantity {
            text-align: center;
            width: 60px;
            display: inline-block;
            font-weight: 700;
          }
        }

        .add-to-cart {
          margin-top: 30px;
        }
      }

      .return-policy {
        border-top: 1px dashed #ccc;
        color: var(--secondary-text-color);
        font-size: 0.8rem;
        margin-top: 20px;
        padding-top: 10px;

        ul {
          list-style: circle;
          li {
            margin-top: 8px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:768px)
{
  .productdetail{
    .product-box{
      flex-direction: column;
      gap:0;
      .imgg-container
      {
        margin-top: 0px;
      }
      .content-part{
        padding-inline: 30px;
      }
    }
  }
}

@media screen and (max-width:468px)
{
  .productdetail{
    .product-box{
      flex-direction: column;
      gap:0;
      .content-part{
        padding-inline: 20px;
        .heading
        {
          margin-top: 20px;
          font-size: 1.25rem;
        }
      }
    }
  }
}
